<div class="row">
  <div class="col-3">
    <h5 class="profile", style="text-align:center;">
      プロフィール
    </h5>
  </div>
  <div class="col-7">
    <h5 class="blog-title", style="text-align:center;">
      <%= @user_name %>のブログ
    </h5>
  </div>
</div>
