
  <div class="row">
    <div class="col-3">
      <h3 class="profile", style="text-align:center;">
        プロフィール
      </h3>
    </div>
    <div class="col-5">
      <h3 class="blog-title", style="text-align:center;">
        のブログ
      </h3>
    </div>
  </div>
